Repository tedilabs/terraform-aws-security, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: access-analyzer, :floppy_disk: config-recorder, :floppy_disk: config-managed-rule

.github/labeler.yaml:

# Modules
":floppy_disk: access-analyzer":
- modules/access-analyzer/**/*
":floppy_disk: config-recorder":
- modules/config-recorder/**/*
":floppy_disk: config-managed-rule":
- modules/config-managed-rule/**/*

Fix output bug in config-managed-rule module
  VERSION
  modules/config-managed-rule/outputs.tf
Labels: :floppy_disk: config-managed-rule

Add ci pipeline
  .github/workflows/integration.yaml
  .yamllint.yaml
Labels: none

Refactor workflow
  .github/workflows/sync-labels.yaml
Labels: none

Improve yaml integration
  .github/workflows/integration.yaml
Labels: none

Hello, 2022
  README.md
Labels: none

Hello, 2022 (#3)
  README.md
Labels: none

Fix typo in sync-labels action
  .github/workflows/sync-labels.yaml
Labels: none

Fix workflow permission for contributors
  .github/workflows/pull-request-labeler.yaml
  .github/workflows/welcome.yaml
Labels: none

Add dependabot.yml
  .github/dependabot.yml
Labels: none

Add dependabot.yml (#4)
  .github/dependabot.yml
Labels: none

Support manual trigger for sync-labels action
  .github/workflows/sync-labels.yaml
Labels: none

Support manual trigger for sync-labels action (#7)
  .github/workflows/sync-labels.yaml
Labels: none

Fix and upgrade pre-commit config
  .pre-commit-config.yaml
Labels: none

Fix and upgrade pre-commit config (#9)
  .pre-commit-config.yaml
Labels: none

Update variable descriptions and dependencies
  modules/access-analyzer/variables.tf
  modules/access-analyzer/versions.tf
  modules/config-managed-rule/variables.tf
  modules/config-managed-rule/versions.tf
  modules/config-recorder/iam.tf
  modules/config-recorder/variables.tf
  modules/config-recorder/versions.tf
Labels: :floppy_disk: access-analyzer, :floppy_disk: config-recorder, :floppy_disk: config-managed-rule

Update config-managed-rule module
  modules/config-managed-rule/raw.json
  modules/config-managed-rule/rules.json
Labels: :floppy_disk: config-managed-rule

Add cloudtrail-trail module
  modules/cloudtrail-trail/README.md
  modules/cloudtrail-trail/iam.tf
  modules/cloudtrail-trail/main.tf
  modules/cloudtrail-trail/outputs.tf
  modules/cloudtrail-trail/resource-group.tf
  modules/cloudtrail-trail/variables.tf
  modules/cloudtrail-trail/versions.tf
  modules/config-managed-rule/variables.tf
  modules/config-recorder/variables.tf
Labels: :floppy_disk: config-recorder, :floppy_disk: config-managed-rule
