Repository tedilabs/terraform-aws-security, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: access-analyzer, :floppy_disk: cloudtrail-trail, :floppy_disk: cloudtrail-event-data-store, :floppy_disk: config-recorder, :floppy_disk: config-managed-rule, :floppy_disk: macie-account

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/access-analyzer/README.md
  modules/cloudtrail-event-data-store/README.md
  modules/cloudtrail-trail/README.md
  modules/config-managed-rule/README.md
  modules/config-recorder/README.md
  modules/macie-account/README.md
Labels: :floppy_disk: access-analyzer, :floppy_disk: cloudtrail-trail, :floppy_disk: cloudtrail-event-data-store, :floppy_disk: config-recorder, :floppy_disk: config-managed-rule, :floppy_disk: macie-account

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#60)
  README.md
Labels: none

feat: improve how to use resource_group in modules
  modules/access-analyzer/outputs.tf
  modules/access-analyzer/resource-group.tf
  modules/access-analyzer/variables.tf
  modules/cloudtrail-event-data-store/outputs.tf
  modules/cloudtrail-event-data-store/resource-group.tf
  modules/cloudtrail-event-data-store/variables.tf
  modules/cloudtrail-trail/outputs.tf
  modules/cloudtrail-trail/resource-group.tf
  modules/cloudtrail-trail/variables.tf
  modules/config-managed-rule/outputs.tf
  modules/config-managed-rule/resource-group.tf
  modules/config-managed-rule/variables.tf
  modules/config-recorder/outputs.tf
  modules/config-recorder/resource-group.tf
  modules/config-recorder/variables.tf
  modules/macie-account/outputs.tf
  modules/macie-account/resource-group.tf
  modules/macie-account/variables.tf
Labels: :floppy_disk: access-analyzer, :floppy_disk: cloudtrail-trail, :floppy_disk: cloudtrail-event-data-store, :floppy_disk: config-recorder, :floppy_disk: config-managed-rule, :floppy_disk: macie-account

feat: improve how to use resource_group in modules (#61)
  modules/access-analyzer/outputs.tf
  modules/access-analyzer/resource-group.tf
  modules/access-analyzer/variables.tf
  modules/cloudtrail-event-data-store/outputs.tf
  modules/cloudtrail-event-data-store/resource-group.tf
  modules/cloudtrail-event-data-store/variables.tf
  modules/cloudtrail-trail/outputs.tf
  modules/cloudtrail-trail/resource-group.tf
  modules/cloudtrail-trail/variables.tf
  modules/config-managed-rule/outputs.tf
  modules/config-managed-rule/resource-group.tf
  modules/config-managed-rule/variables.tf
  modules/config-recorder/outputs.tf
  modules/config-recorder/resource-group.tf
  modules/config-recorder/variables.tf
  modules/macie-account/outputs.tf
  modules/macie-account/resource-group.tf
  modules/macie-account/variables.tf
Labels: :floppy_disk: access-analyzer, :floppy_disk: cloudtrail-trail, :floppy_disk: cloudtrail-event-data-store, :floppy_disk: config-recorder, :floppy_disk: config-managed-rule, :floppy_disk: macie-account

feat(config-managed-rule): support aws provider v6
  modules/config-managed-rule/README.md
  modules/config-managed-rule/main.tf
  modules/config-managed-rule/outputs.tf
  modules/config-managed-rule/resource-group.tf
  modules/config-managed-rule/variables.tf
  modules/config-managed-rule/versions.tf
Labels: :floppy_disk: config-managed-rule

feat(config-recorder): support aws provider v6
  modules/config-recorder/README.md
  modules/config-recorder/aggregator.tf
  modules/config-recorder/iam.tf
  modules/config-recorder/main.tf
  modules/config-recorder/outputs.tf
  modules/config-recorder/resource-group.tf
  modules/config-recorder/variables.tf
  modules/config-recorder/versions.tf
Labels: :floppy_disk: config-recorder

feat(config-managed-rule): update latest rules
  modules/config-managed-rule/get-managed-rules.sh
  modules/config-managed-rule/raw.json
  modules/config-managed-rule/rules.json
Labels: :floppy_disk: config-managed-rule

feat(config-managed-rule): remove validations for resource_types and resource_id
  modules/config-managed-rule/variables.tf
Labels: :floppy_disk: config-managed-rule

fix(config-managed-rule): fix error
  modules/config-managed-rule/main.tf
Labels: :floppy_disk: config-managed-rule

feat(cloudtrail-trail): support `region` variable for aws provider v6
  modules/cloudtrail-trail/iam.tf
  modules/cloudtrail-trail/main.tf
  modules/cloudtrail-trail/outputs.tf
  modules/cloudtrail-trail/resource-group.tf
  modules/cloudtrail-trail/variables.tf
  modules/cloudtrail-trail/versions.tf
Labels: :floppy_disk: cloudtrail-trail

feat(cloudtrail-event-data-store): support `region` variable for aws provider v6
  modules/cloudtrail-event-data-store/main.tf
  modules/cloudtrail-event-data-store/outputs.tf
  modules/cloudtrail-event-data-store/resource-group.tf
  modules/cloudtrail-event-data-store/variables.tf
  modules/cloudtrail-event-data-store/versions.tf
Labels: :floppy_disk: cloudtrail-event-data-store

feat(cloudtrail-event-data-store): support billing_mode and several filter
  modules/cloudtrail-event-data-store/README.md
  modules/cloudtrail-event-data-store/iam.tf
  modules/cloudtrail-event-data-store/main.tf
  modules/cloudtrail-event-data-store/outputs.tf
  modules/cloudtrail-event-data-store/variables.tf
Labels: :floppy_disk: cloudtrail-event-data-store

feat(cloudtrail-trail): support several filters
  modules/cloudtrail-trail/README.md
  modules/cloudtrail-trail/iam.tf
  modules/cloudtrail-trail/main.tf
  modules/cloudtrail-trail/variables.tf
Labels: :floppy_disk: cloudtrail-trail

feat(access-analyzer): support configurations for unused access and internal access
  modules/access-analyzer/README.md
  modules/access-analyzer/main.tf
  modules/access-analyzer/outputs.tf
  modules/access-analyzer/resource-group.tf
  modules/access-analyzer/variables.tf
  modules/access-analyzer/versions.tf
Labels: :floppy_disk: access-analyzer

fix(cloudtrail-trail): change usage of name property of data.aws_region
  modules/cloudtrail-trail/iam.tf
Labels: :floppy_disk: cloudtrail-trail

feat(config-managed-rule): add timeouts
  modules/config-managed-rule/README.md
  modules/config-managed-rule/main.tf
  modules/config-managed-rule/variables.tf
Labels: :floppy_disk: config-managed-rule

feat(macie-account): support aws v6
  modules/macie-account/README.md
  modules/macie-account/main.tf
  modules/macie-account/outputs.tf
  modules/macie-account/resource-group.tf
  modules/macie-account/variables.tf
  modules/macie-account/versions.tf
Labels: :floppy_disk: macie-account

feat(macie-account): support organization config
  modules/macie-account/README.md
  modules/macie-account/main.tf
  modules/macie-account/outputs.tf
  modules/macie-account/variables.tf
Labels: :floppy_disk: macie-account

.github/labeler.yaml:

# Modules
":floppy_disk: access-analyzer":
- changed-files:
  - any-glob-to-any-file:
    - modules/access-analyzer/**/*

":floppy_disk: cloudtrail-trail":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudtrail-trail/**/*

":floppy_disk: cloudtrail-event-data-store":
- changed-files:
  - any-glob-to-any-file:
    - modules/cloudtrail-event-data-store/**/*

":floppy_disk: config-recorder":
- changed-files:
  - any-glob-to-any-file:
    - modules/config-recorder/**/*

":floppy_disk: config-managed-rule":
- changed-files:
  - any-glob-to-any-file:
    - modules/config-managed-rule/**/*

":floppy_disk: macie-account":
- changed-files:
  - any-glob-to-any-file:
    - modules/macie-account/**/*
